
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Store</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="icon" href="{% static "neww/images/favicon.ico" %}">
    <link rel="shortcut icon" href="{% static "neww/images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "neww/css/style.css" %}">
    <link rel="stylesheet" href="{% static "neww/css/slider.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <style> input {
            margin-bottom: 10px;
            width: 500px;
            height: 30px;
            display: block;

        }
           input,
input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 3;
}
        </style>
    </head>
<body>
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1><a href="/index/"><img src="{% static "neww/images/vv.png" %}" alt=""></a></h1>
            <div class="menu_block">
                <nav>
                    {% if user.is_active %}
                    <ul class="sf-menu">
                       <li class=""><a href="/index/">Home</a></li>
            <li class=""><a href="">About us</a></li>
            <li class=""><a href="/home/profile/">{{ user.username }}</a></li>
            <li class=""><a href="/home/logout/">log out</a></li>
            <li class=""><a href="/contactus/">contact us</a></li>
                    </ul>
                        {% else %}
                        <ul class="sf-menu">
                     <li class=""><a href="/index/">Home</a></li>
            <li class=""><a href="/aboutus/">About us</a></li>
            <li class=""><a href="/home/login/">Login</a></li>
            <li class=""><a href="/home/signup">Sign up</a></li>
            <li class=""><a href="/contactus/">contact us</a></li>
                    </ul>
                    {% endif %}
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
    <div class="container ">


        <div style="margin :20% 22%;width:75%;text-align:left">
            <h3 style="color: red">{{ error }}</h3>
            <h2 style="">LOG-IN :</h2>
            <form method="post">
                {% csrf_token %}
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <a href="/home/recover/">forget your password ?</a>
                <input type="submit" style="background-color: #4585b7 ;border: none;" value="logIn">
            </form>
        </div>
    </div>

<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials"><a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a></div>
            <p>Pet Store&copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a
                    href="">AASY@yahoo.com</a></p>
        </div>
        <div class="clear"></div>
    </div>
</footer>
</body>
</html>
